<!DOCTYPE html>
<html>
  <head>
    <title>Taka</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("navbar"); -%>
    <div class="manga">
      <div class="cover">
        <div class="banner">
          <img src="/images/manga-1.png" alt="manga" />
          <% if (isAuthenticated) { %>
          <form action="" method="POST">
            <div>
              <label for="title"></label>
              <input
                id="title"
                type="text"
                name="title"
                value="TestTitle2"
                hidden
              />
            </div>
            <div class="add">
              <button type="submit">Add to Library</button>
              <span class="span-a">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a id="reading" class="dropdown-item" href="#"
                          >Set as Reading</a
                        >
                      </li>
                      <li>
                        <a id="plan" class="dropdown-item" href="#"
                          >Set as Planning</a
                        >
                      </li>
                      <li>
                        <a id="finished" class="dropdown-item" href="#"
                          >Set as Finished</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </span>
            </div>
          </form>
          <% } %>
        </div>
        <div class="description">
          <h1>Title</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            maxime aliquam ea perferendis fuga ipsum, ab tenetur tempore velit
            eaque ut veritatis ad incidunt doloremque exercitationem earum
            laborum cupiditate officia! Amet qui explicabo fugiat at, quis
            temporibus eum repellendus facilis dolorum veritatis illo aliquam
            vel? Unde incidunt rem magnam sapiente, quasi temporibus. Corporis
            sit nulla dolorum beatae illo nemo quas!
          </p>
        </div>
      </div>
      <div class="info-m1">
        <div class="information">
          <p><span class="key">Type: </span><span class="value">Manga</span></p>
          <p>
            <span class="key">Author: </span
            ><span class="value">Aka Akasaka</span>
          </p>
          <p>
            <span class="key">Start Date: </span
            ><span class="value">Apr 23, 2020</span>
          </p>
          <p>
            <span class="key">Genre: </span
            ><span class="value"
              >Drama, Mystery, Psychological, Supernatural</span
            >
          </p>
        </div>
      </div>
      <div class="data-m1">
        <h4>Characters</h4>
        <div class="characters">
          <div class="portrait">
            <img class="manga-c" src="/images/manga-c-1.png" alt="" />
            <p>Ai Hoshino</p>
          </div>
          <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div>
          <div class="portrait"></div>
        </div>
      </div>
    </div>

    <%- include("footer"); -%>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
