<!DOCTYPE html>
<html>
  <head>
    <title>Taka</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("navbar"); -%>

    <div class="banner">
      <div class="banner-c">
        <p>Dagger</p>
      </div>
    </div>

    <div class="collection">
      <div class="bar">
        <div class="tabbed">
          <a href="/users/profile">Overview</a>
          <a href="/users/profile/current">Currently Reading</a>
          <a href="/users/profile/finished">Finished Reading</a>
          <a href="/users/profile/plan">Plan To Read</a>
          <a href="/users/profile/favorites">Favorites</a>
        </div>
      </div>
      <div class="manga-d1">
        <div class="view">
          <p>Activity</p>
        </div>
        <div class="content-p3">
          <form action="" method="POST">
            <div class="form-group">
              <textarea
                class="form-control"
                id="content"
                name="content"
                rows="1"
                cols="65"
                placeholder="Write a Status"
              ></textarea>
            </div>
            <div>
              <label for="author"></label>
              <input
                id="author"
                type="text"
                name="author"
                value="<%= user %>"
                hidden
              />
            </div>
            <div>
              <button type="submit" class="post-btn">Post</button>
            </div>
          </form>
        </div>
        <div class="status">
          <% status_list.forEach(function(status) { %>
          <div class="status-c">
            <p><%= status.content %></p>
          </div>
          <% }); %>
        </div>
      </div>
      <div class="manga-p1">
        <div class="manga-p2">
          <div class="summary">
            <p class="title">Esoteric Strategies in the Land of Piltover</p>
            <p>
              Exploring the realm of fantasy and embarking on epic adventures.
            </p>
            <p>
              Normie but at least I'm not a shonen normie. Got a mild to severe
              obsession with Arcane and Studio Ghibli films.
            </p>
          </div>
        </div>
        <div class="manga-p3">
          <div class="view">
            <p>Manga</p>
            <a href="/search/trending">View All</a>
          </div>
          <div class="content">
            <% collection_list.forEach(function(collection) { %>
            <div class="box">
              <img src="/images/manga-1.png" alt="manga" />
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
