p {
  font-family: "Poppins", sans-serif;
}

textarea {
  color: #9299a9 !important;
  resize: none !important;
}

.logout-c {
  color: red !important;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
}
.main .order {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 185px);
  justify-content: space-between;
}
.main .order .box {
  position: relative;
  cursor: pointer;
  height: 265px;
}
.main .order .box img {
  max-width: 100%;
  max-height: 100%;
}
.main .order .box button {
  position: absolute;
  bottom: 0;
  color: #2c528e;
  border: 2px solid #2c528e;
  opacity: 0;
  right: 0;
  transition: opacity 0.3s ease;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  vertical-align: baseline;
  height: 15%;
  width: 100%;
}
.main .order .box:hover button {
  opacity: 1;
}
.main .view {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  transition: color 0.2s ease;
}
.main .view a {
  text-decoration: none;
  margin-left: auto;
}

.manga {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 2em;
}
.manga .cover {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 215px auto;
}
.manga .cover .description {
  display: inline-grid;
  padding-top: 25px;
}
.manga .cover .description p {
  line-height: 1.5;
  margin: 0;
  max-width: 800px;
  padding: 15px 0;
}
.manga .cover .banner {
  display: flex;
  flex-direction: column;
}
.manga .cover .banner .add {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  height: 35px;
  justify-content: center;
  line-height: 1.3rem;
}
.manga .cover .banner button {
  background-color: #4e90f1;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  cursor: pointer;
  align-items: center;
  border: 1px solid transparent;
  position: relative;
  display: inline-flex;
  border-radius: 0.25rem;
  vertical-align: baseline;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  text-decoration: none;
}
.manga .cover .banner ul {
  align-items: center;
  line-height: 1.25;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #b1cdf7;
  padding-right: 6px;
}
.manga .cover .banner ul ul {
  background-color: #fff;
  border: 0;
  box-shadow: 0 1px 10px 0 rgba(49, 54, 68, 0.15);
}
.manga .cover .banner .favorite {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  padding-left: 1px;
  transition: 0.2s;
  padding: 0 4px;
  line-height: 1.25;
  margin-left: 10px;
}
.manga .data-m1 {
  margin-top: 2em;
  display: grid;
}
.manga .data-m1 h4 {
  grid-column: 1/span 1;
  margin-left: 35px;
}
.manga .data-m1 .characters {
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 2fr));
  grid-column: 1/span 3;
  gap: 1em;
  justify-content: center;
}
.manga .data-m1 .portrait {
  border: 1px solid #fafafa;
  display: flex;
  cursor: pointer;
  height: 80px;
  width: 285px;
}
.manga .data-m1 .portrait img {
  min-height: 100%;
}
.manga .data-m1 .portrait p {
  padding-left: 10px;
  padding-top: 5px;
}
.manga .info-m1 {
  float: left;
  margin-left: 10px;
  width: 16%;
  margin-top: 4.4em;
}
.manga .info-m1 .information {
  font-size: 16px;
}
.manga .info-m1 .information .key {
  color: #2d4356;
}
.manga .info-m1 .information .value {
  color: #9299a9;
}

.footer {
  background-color: #212529;
  height: 286px;
  margin-top: 10em;
  width: auto;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.container-fluid .container-n1 {
  justify-content: space-between;
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}
.login form {
  display: inline;
  padding: 5em;
}

.collection {
  max-width: 1420px;
  margin: 0 auto;
}
.collection .manga-p1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.collection .manga-p1 .manga-p3 {
  width: 80%;
}
.collection .manga-p1 .title {
  color: #ff2171;
}
.collection .view {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  transition: color 0.2s ease;
}
.collection .summary {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}
.collection .summary p {
  font-size: 15px;
}
.collection .content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 85px);
  justify-content: space-between;
}
.collection .content .box {
  position: relative;
  cursor: pointer;
  height: 115px;
}
.collection .content .box img {
  max-height: 100%;
  min-width: 100%;
}
.collection .bar {
  display: flex;
  flex-direction: column;
}
.collection .bar .tabbed {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 2em;
}
.collection .bar .tabbed a {
  color: #50535a;
  cursor: pointer;
  text-decoration: none;
  transition: 0.15s;
  margin: 0 2em;
}
.collection .bar .tabbed a:hover {
  color: #4abd4e;
}
.collection .manga-d1 {
  float: right;
}

.overview {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 5em;
}
.overview .order {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, 145px);
}
.overview .order .box {
  position: relative;
  cursor: pointer;
  height: 225px;
}
.overview .order .box img {
  max-width: 100%;
  max-height: 100%;
}

.settings {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 5em;
}
.settings .profile {
  border: 1px solid black;
}
.settings .profile .color .color-b1 {
  display: flex;
  gap: 20px;
}
.settings .profile .color .color-b1 div {
  border: 1px solid black;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.settings .profile .color .color-b1 .blue {
  background-color: #4e90f1;
}
.settings .profile .color .color-b1 .green {
  background-color: green;
}
.settings .profile .color .color-b1 .violet {
  background-color: #ff2171;
}
.settings .profile .color .color-b1 .purple {
  background-color: purple;
}
.settings .profile .color .color-b1 .red {
  background-color: red;
}
.settings .profile .color .color-b1 .black {
  background-color: #212529;
}

/*# sourceMappingURL=style.css.map */
