p {
  font-family: "Poppins", sans-serif;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
}
.main .order {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 185px);
  justify-content: space-between;
}
.main .order .box {
  position: relative;
  cursor: pointer;
  height: 265px;
}
.main .order .box img {
  max-width: 100%;
  max-height: 100%;
}
.main .order .box button {
  position: absolute;
  bottom: 0;
  color: #2c528e;
  border: 2px solid #2c528e;
  opacity: 0;
  right: 0;
  transition: opacity 0.3s ease;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  vertical-align: baseline;
  height: 15%;
  width: 100%;
}
.main .order .box:hover button {
  opacity: 1;
}
.main .view {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  transition: color 0.2s ease;
}
.main .view a {
  text-decoration: none;
  margin-left: auto;
}

.manga {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 2em;
}
.manga .cover {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 215px auto;
}
.manga .cover .description {
  display: inline-grid;
  padding-top: 25px;
}
.manga .cover .description p {
  line-height: 1.5;
  margin: 0;
  max-width: 800px;
  padding: 15px 0;
}
.manga .cover .banner {
  display: flex;
  flex-direction: column;
}
.manga .cover .banner button {
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(60, 178, 218);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0 10px;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
}
.manga .data-m1 {
  margin-top: 2em;
  display: grid;
}
.manga .data-m1 h4 {
  grid-column: 1/span 1;
  margin-left: 35px;
}
.manga .data-m1 .characters {
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 2fr));
  grid-column: 1/span 3;
  gap: 1em;
  justify-content: center;
}
.manga .data-m1 .portrait {
  border: 1px solid #fafafa;
  display: flex;
  cursor: pointer;
  height: 80px;
  width: 285px;
}
.manga .data-m1 .portrait img {
  min-height: 100%;
}
.manga .data-m1 .portrait p {
  padding-left: 10px;
  padding-top: 5px;
}
.manga .info-m1 {
  float: left;
  margin-left: 10px;
  width: 16%;
  margin-top: 4.4em;
}
.manga .info-m1 .information {
  font-size: 16px;
}
.manga .info-m1 .information .key {
  color: #2d4356;
}
.manga .info-m1 .information .value {
  color: #9299a9;
}

.footer {
  background-color: #212529;
  height: 286px;
  margin-top: 10em;
  width: auto;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.container-fluid .container-n1 {
  justify-content: space-between;
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
}
.login form {
  display: inline;
  padding: 5em;
}

.collection {
  max-width: 1220px;
  margin: 0 auto;
}
.collection .content {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 185px);
  margin-top: 5em;
}
.collection .content .box {
  border: 1px solid;
  position: relative;
  cursor: pointer;
  height: 265px;
}
.collection .bar {
  display: flex;
  flex-direction: column;
}
.collection .bar .manga a {
  cursor: pointer;
  margin: 0 50px;
  transition: 0.15s;
}
.collection .bar .manga a:hover {
  color: #4abd4e;
}

/*# sourceMappingURL=style.css.map */
