p {
  font-family: "Poppins", sans-serif;
}

textarea {
  color: #9299a9 !important;
  resize: none !important;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
  .order {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 185px);
    justify-content: space-between;
    .box {
      position: relative;
      cursor: pointer;
      height: 265px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      button {
        position: absolute;
        bottom: 0;
        color: #2c528e;
        border: 2px solid #2c528e;
        opacity: 0;
        right: 0;
        transition: opacity 0.3s ease;
        align-items: center;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        margin: 0;
        text-decoration: none;
        vertical-align: baseline;
        height: 15%;
        width: 100%;
      }
    }
    .box:hover {
      button {
        opacity: 1;
      }
    }
  }
  .view {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    transition: color 0.2s ease;
    a {
      text-decoration: none;
      margin-left: auto;
    }
  }
}

.manga {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 2em;
  .cover {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    .description {
      display: inline-grid;
      padding-top: 25px;
      p {
        line-height: 1.5;
        margin: 0;
        max-width: 800px;
        padding: 15px 0;
      }
    }
    .banner {
      display: flex;
      flex-direction: column;
      .add {
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        font-size: 1.4rem;
        height: 35px;
        justify-content: center;
        line-height: 1.3rem;
      }
      button {
        background-color: #4e90f1;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        cursor: pointer;
        align-items: center;
        border: 1px solid transparent;
        position: relative;
        display: inline-flex;
        border-radius: 0.25rem;
        vertical-align: baseline;
        background-clip: padding-box;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        text-decoration: none;
      }
      ul {
        align-items: center;
        line-height: 1.25;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        background-color: #b1cdf7;
        padding-right: 6px;
        ul {
          background-color: #fff;
          border: 0;
          box-shadow: 0 1px 10px 0 rgba(49, 54, 68, 0.15);
        }
      }
    }
  }
  .data-m1 {
    margin-top: 2em;
    display: grid;
    h4 {
      grid-column: 1 / span 1;
      margin-left: 35px;
    }
    .characters {
      margin-left: 35px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(285px, 2fr));
      grid-column: 1 / span 3;
      gap: 1em;
      justify-content: center;
    }
    .portrait {
      border: 1px solid #fafafa;
      display: flex;
      cursor: pointer;
      height: 80px;
      width: 285px;
      img {
        min-height: 100%;
      }
      p {
        padding-left: 10px;
        padding-top: 5px;
      }
    }
  }
  .info-m1 {
    float: left;
    margin-left: 10px;
    width: 16%;
    margin-top: 4.4em;
    .information {
      font-size: 16px;
      .key {
        color: #2d4356;
      }
      .value {
        color: #9299a9;
      }
    }
  }
}

.footer {
  background-color: #212529;
  height: 286px;
  margin-top: 10em;
  width: auto;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  .container-n1 {
    justify-content: space-between;
  }
}

.login {
  display: flex;
  justify-content: center;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 4em;
  form {
    display: inline;
    padding: 5em;
  }
}

.collection {
  max-width: 1220px;
  margin: 0 auto;
  .manga-p1 {
    display: flex;
    gap: 50px;
    .manga-p2 {
      width: 45%;
    }
    .title {
      color: #ff2171;
    }
  }
  .view {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    transition: color 0.2s ease;
  }
  .summary {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    p {
      font-size: 15px;
    }
  }
  .content {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 85px);
    justify-content: space-between;
    .box {
      position: relative;
      cursor: pointer;
      height: 115px;
      img {
        max-height: 100%;
        min-width: 100%;
      }
    }
  }
  .bar {
    display: flex;
    flex-direction: column;
    .tabbed {
      max-width: 1220px;
      margin: 0 auto;
      margin-top: 2em;
      a {
        color: #50535a;
        cursor: pointer;
        text-decoration: none;
        transition: 0.15s;
        margin: 0 2em;
      }
      a:hover {
        color: #4abd4e;
      }
    }
  }
}

.overview {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 5em;
  .order {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, 145px);
    .box {
      position: relative;
      cursor: pointer;
      height: 225px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
